@page "{Id?}"
@model Arbbet.DataExplorer.Pages.Countries.UpsertModel
@{
    ViewData["Title"] = Model.Meaning == PageMeaning.CREATE ? "New country" : string.Format("Edit country {0}", Model.Item.Name);
    Layout = "_Layout";
}

<nav class="hk-breadcrumb" aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-light bg-transparent">
        <li class="breadcrumb-item"><a href="#">Data</a></li>
        <li class="breadcrumb-item"><a asp-page="./Index">Countries</a></li>
        <li class="breadcrumb-item active" aria-current="page">@(Model.Meaning == PageMeaning.CREATE ? "New country" : string.Format("Edit country {0}", Model.Item.Name))</li>
    </ol>
</nav>

<div class="container-fluid px-xxl-65 px-xl-20">
    <!-- Title -->
    @*<div class="hk-pg-header">
            <h4 class="hk-pg-title"><span class="pg-title-icon"><span class="feather-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-archive"><polyline points="21 8 21 21 3 21 3 8"></polyline><rect x="1" y="3" width="22" height="5"></rect><line x1="10" y1="12" x2="14" y2="12"></line></svg></span></span>Basic Tables</h4>
        </div>*@
    <!-- /Title -->
    <!-- Row -->
    <div class="row">
        <div class="col-xl-12">
            <section class="hk-sec-wrapper">
                <h5 class="hk-sec-title">
                    Countries
                </h5>
                <div class="row">
                    <div class="col-sm">
                        <form method="post">
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        @Html.HiddenFor(model => model.Item.Id)
                                        @Html.HiddenFor(model => model.Id)
                                        @Html.LabelFor(model => model.Item.Code)
                                        @Html.TextBoxFor(model => model.Item.Code, htmlAttributes: new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Item.Name)
                                        @Html.TextBoxFor(model => model.Item.Name, htmlAttributes: new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Item.FlagName)
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="flag @(!string.IsNullOrEmpty(Model.Item?.FlagName) ? Model.Item.FlagName : string.Empty)" id="flagIcon"></i></span>
                                            </div>
                                            <select asp-for="Item.FlagName" asp-items="Model.FlagSelectList" class="select2 form-control" onchange="UpdateFlagIcon();" data-clearable="true" data-placeholder="Select a flag"></select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm">
                                    <button class="btn btn-success" type="submit" asp-page-handler="@(Model.Meaning == PageMeaning.CREATE ? "Create": "Edit")">@(Model.Meaning == PageMeaning.CREATE ? "Create": "Save")</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- /Row -->

</div>

@section Scripts {
<script>
    function UpdateFlagIcon() {
        let newFlag = jQuery('#Item_FlagName').val();
        jQuery('#flagIcon').attr('class', `flag ${newFlag}`);
    }

    jQuery(document).ready(function() {
        UpdateFlagIcon();
    });
</script>
} 