@model Arbbet.Domain.Entities.Sport

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Sport</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnifiedEntity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnifiedEntity.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnifiedType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnifiedType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Platform)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Platform.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Platform_Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Platform_Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
