@page
@model Arbbet.DataExplorer.Areas.Identity.Pages.Account.Manage.EnableAuthenticatorModel
@{
    ViewData["Title"] = "Configure authenticator app";
    Layout = "_Layout";
}

<!-- Breadcrumb -->
<nav class="hk-breadcrumb" aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-light bg-transparent">
        <li class="breadcrumb-item"><a asp-page="../Manage" asp-route-activePage="Security">Account</a></li>
        <li class="breadcrumb-item active" aria-current="page">2FA</li>
    </ol>
</nav>
<!-- /Breadcrumb -->
<!-- Container -->
<div class="container-fluid px-xxl-65 px-xl-20">
    <!-- Title -->
    <div class="hk-pg-header">
        <h3 class="hk-pg-title"><span class="pg-title-icon"><i class="ion ion-md-clipboard"></i></span>@ViewData["Title"]</h3>
    </div>
    <!-- /Title -->
    <!-- Row -->
    <div class="row">
        <div class="col-xl-12">
            <section class="hk-sec-wrapper">
                <h5 class="hk-sec-title">To use an authenticator app go through the following steps:</h5>
                <partial name="_AlertMessage" for="StatusMessage" />
                <ol class="list-ol mt-20">
                    <li class="mb-10">
                        <span>
                            Download a two-factor authenticator app like Microsoft Authenticator for
                            <a href="https://go.microsoft.com/fwlink/?Linkid=825072">Android</a> and
                            <a href="https://go.microsoft.com/fwlink/?Linkid=825073">iOS</a> or
                            Google Authenticator for
                            <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&amp;hl=en">Android</a> and
                            <a href="https://itunes.apple.com/us/app/google-authenticator/id388497605?mt=8">iOS</a>.
                        </span>
                    </li>
                    <li class="mb-10">
                        <span>
                        Scan the QR Code or enter this key <kbd>@Model.SharedKey</kbd> into your two factor authenticator app. Spaces and casing do not matter.
                        <div id="qrCode" class="mt-20"></div>
                        <div id="qrCodeData" data-url="@Html.Raw(@Model.AuthenticatorUri)"></div>
                        </span>
                    </li>
                    <li class="mb-10">
                        <span>
                            Once you have scanned the QR code or input the key above, your two factor authentication app will provide you
                            with a unique code. Enter the code in the confirmation box below.
                        </span>
                    </li>
                    <hr />
                    <div class="row">
                        <div class="col-md-6">
                            <form id="send-code" method="post">
                                <div class="form-group">
                                    <label asp-for="Input.Code" class="control-label">Verification Code</label>
                                    <input asp-for="Input.Code" class="form-control" autocomplete="off" />
                                    <span asp-validation-for="Input.Code" class="text-danger"></span>
                                </div>
                                <button type="submit" class="btn btn-primary">Verify & enable 2FA</button>
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            </form>
                        </div>
                    </div>
                </ol>
            </section>
            <a asp-page="../Manage" asp-route-activePage="Security">Back</a>
        </div>
    </div>
    <!-- /Row -->
</div>
<!-- /Container -->

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script type="text/javascript" src="~/lib/qrcodejs/qrcode.min.js"></script>
    <script type="text/javascript">
        new QRCode(document.getElementById("qrCode"),
            {
                text: "@Html.Raw(Model.AuthenticatorUri)",
                width: 150,
                height: 150
            });
    </script>
}
