@using Arbbet.DataExplorer.Data
@using Arbbet.AspNet.Helper.Breadcrumbs
@inject Arbbet.AspNet.Helper.Breadcrumbs.BreadcrumbsProvider BreadcrumbsProvider
@model Type
@{
    var breadcumbHierarchy = BreadcrumbsProvider.GetBreadcrumbsHierarchyForType(Model);
}

<nav class="hk-breadcrumb" aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-light bg-transparent">
        @{
            int nbOfBreadcrumb = breadcumbHierarchy.Count;
            int currentBreadcrumb = 1;
            LinkedListNode<IBreadcrumbDefinition> breadcrumb = breadcumbHierarchy.First;
            while (breadcrumb != null)
            {
                <li class="breadcrumb-item @(currentBreadcrumb == nbOfBreadcrumb ? "active" : string.Empty)" aria-current="@(currentBreadcrumb == nbOfBreadcrumb ? "page" : null)">
                    @if (currentBreadcrumb != nbOfBreadcrumb)
                    {
                        <a asp-page="@breadcrumb.Value.PageUrl">@breadcrumb.Value.Name</a>
                    }
                    else
                    {
                        @breadcrumb.Value.Name
                    }
                </li>

                breadcrumb = breadcrumb.Next;
                currentBreadcrumb++;
            }
        }
    </ol>
</nav>